// VARIABLES
$text-green: #0a0;
$text-gray: #888;


// BASE TEMPLATE
.footer {
	text-align: center;
	margin-top: 100px;
}

// GENERAL ELEMENTS

.row-buffer {
	margin-top: 10px;
}

.template {
	display:none;
}
